#main-container
{
    //background-color: lighten($backgroundColour, 20%);

    hr
    {
        margin-top: 2em;
        margin-bottom: 8em;
        border: 0;
        border-top: 1px solid rgb(122, 122, 122);
    }

    h2
    {
        color: $accentColour;
        margin-bottom: 2em;
    }

    img
    {
        width: 80%;
    }

    h3
    {
        color: rgb(150, 150, 150);
        margin-top: 1.5em;
    }

    p
    {
        margin-top: 1.5em;
        color: grey;
        margin-bottom: 3em;
    }

    padding-bottom: 2rem !important;
}