#navbar-background
{
    background-color: rgb(0, 0, 0) !important;

    .navbar
    {
        background-color: rgb(0, 0, 0) !important;
    }
    font: $fontLarge;
    font-weight: 700;
    font-size: $sizeSmall !important;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .navbar-brand
    {
        transform: scale(1 * 1.1, 0.9 * 1.1);
        color: $accentColour;
        font-family: "ethnocentric";
    }

    .active .nav-link
    {
        text-decoration: underline;
        text-decoration-color: $accentColour !important;
        text-decoration-thickness: 0.15em;
        text-underline-offset: 0.3em;
    }

    .button
    {
        position: absolute;
        left: 50%;
    }
}