#tokenomics
{

    margin-top: 5em;
    margin-bottom: 5em;

    h2
    {
        color: $accentColour;
    }

    .row
    {
        margin-top: 3em;
    }

    p
    {
        color: grey;
    }
}